<html>
  <head></head>
  <body>
    <p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <%= msg  %>
    <br>
    <% if msg == "You got it right!" %>
      THE SECRET NUMBER IS <%= number %>
    <style>
    body {
      background: LightGreen;
    }
    </style>
    <% else %>
    <% if left != 0 %> 
      <%= left %> guesses left!
    <% end %>
    <style>
    body {
      background: LightCoral;
    }
      </style>
    <% end %>       
    </p>
  </body>
</html>
